.container {
  background-color: #eee;
  margin: 2rem;
  box-shadow: 0 1rem 3rem #555;
  overflow: hidden;
}

/* Home styles */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  background: linear-gradient(rgba(1, 9, 20, 0.5), rgba(18, 113, 255, 0.3)), url('../../public/flies.webp') center no-repeat;
  background-size: cover;
  position: relative;
  perspective: 50rem;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.home_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 0 0.3rem 0.5rem #555;
  gap: 25px;
  width: 100%;
  padding: 5px 20px;
}

.home_text h1 {
  font-size: 5rem;
  color: #fff;
}

.home_text p {
  max-width: 40ch;
  font-size: 1.8rem;
  color: #eee;
}

.arrow {
  color: #fff;
  font-size: 2.5rem;
  padding: 10px 20px;
  animation: shake 1.5s infinite ease-in-out;
}

.fly {
  animation: float ease-in-out 35s infinite;
}

.logo {
  position: absolute;
  top: 2rem;
  right: 3rem;
}

.logo h2 {
  display: flex;
}

.logo h2 span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: #2b81e4;
  background-color: #fff;
  width: 40px;
  height: 40px;
  margin: 0.5rem;
  border-radius: 50%;
}

.logo h2 span:nth-child(1) {
  animation: drop-letters 4s 0.1s infinite;
}

.logo h2 span:nth-child(2) {
  animation: drop-letters 4s 0.2s infinite;
}

.logo h2 span:nth-child(3) {
  animation: drop-letters 4s 0.3s infinite;
}


/* keyframes animations */
@keyframes shake {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateZ(20rem);
    opacity: 1;
  }

  30% {
    transform: translateZ(-350rem) translateX(75rem);
    opacity: 0.8;
  }

  50% {
    transform: translateZ(-500rem) translateX(175rem);
    opacity: 0.8;
  }

  70% {
    transform: translateZ(-750rem) translateX(600rem);
    opacity: 0.6;
  }

  80% {
    transform: translateZ(-25rem) translateX(60rem);
    opacity: 0.8;
  }

  100% {
    transform: translateZ(20rem);
    opacity: 1;
  }
}

@keyframes drop-letters {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(-100%);
  }

  20% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

/* Tours styles */
.tours {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #2b81e4;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 80px;
  text-shadow: 0 0.1rem 0.2rem #2b81e4;
}

.wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 5px 20px;
}

/* Responsive media queries */
@media (max-width: 1200px){
  .home_text h1 {
    font-size: 3rem;
  }
  
  .home_text p {
    font-size: 1.3rem;
  }

  .title {
    font-size: 2.8rem;
  }
}

@media (max-width: 900px){
  .home{
    flex-direction: column;
  }
  
  .fly{
    position: absolute;
  }
  
  .arrow{
    font-size: 2rem;
  }

  .title {
    font-size: 2.4rem;
    max-width: 20ch;
  }
}

@media (max-width: 600px){ 
  .container{
    margin: 0;
  }

  .home{
    background: linear-gradient(rgba(1, 9, 20, 0.5), rgba(18, 113, 255, 0.3)), url('../../public/mobile.webp') center no-repeat;
    background-size: cover;
    border-radius: 0;
  }

  .arrow{
    font-size: 1.5rem;
  }

  .home_text{
    margin-top: -100px;
  }

  .home_text h1 {
    font-size: 1.6rem;
  }
  
  .home_text p {
    font-size: 0.9rem;
  }

  .logo{
    top: 1rem;
    right: calc((100vw - 50%) - 150px);
  }

  .logo h2 span {
    font-size: 1.2rem;
    width: 30px;
    height: 30px;
  }

  .fly{
    height: auto;
    display: block;
    max-width: 150px;
  }

  @keyframes drop-letters {
    0% {
      transform: translateY(0);
    }
  
    10% {
      transform: translateY(0);
    }
  
    15% {
      transform: translateY(-50%);
    }
  
    20% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(0);
    }
  }

  @keyframes float {
    0% {
      transform: translateZ(20rem);
      opacity: 1;
    }
  
    30% {
      transform: translateZ(-350rem) translateX(75rem);
      opacity: 0.8;
    }
  
    50% {
      transform: translateZ(-500rem) translateX(-75rem);
      opacity: 0.8;
    }
  
    70% {
      transform: translateZ(-450rem) translateX(-90rem);
      opacity: 0.6;
    }
  
    80% {
      transform: translateZ(-25rem) translateX(20rem);
      opacity: 0.8;
    }
  
    100% {
      transform: translateZ(20rem);
      opacity: 1;
    }
  }

  .title {
    font-size: 1.6rem;
  }
}